# Google Apps Script Web App URL
# Deploy Code.gs as a web app and paste the URL here
# Steps:
#   1. Open Google Apps Script editor
#   2. Go to Deploy > New deployment
#   3. Select "Web app" as type
#   4. Set "Execute as" to your account
#   5. Set "Who has access" to "Anyone"
#   6. Click Deploy and copy the URL
NEXT_PUBLIC_GAS_URL=https://script.google.com/macros/s/AKfycbwEwWJvA5VVI6tTOyyodEyJoIpt6iCxPOxay2Kcfy2ak0Trnw8_fo4d7GDwAUMAotclAg/exec
